img {
	opacity : 0.8;
}

#logo {
	margin: 0 20%;
}

#title {
	padding: 1% 20%;
	color: white;
	background-color : #191970;
	margin-top : 0;
	margin-bottom: 0;
}

#contents {
	margin: 0 15% 2% 15%;
}

h3 {
	margin-bottom: 0.5em;
}

nav {
	margin: 0 15%;
}

ul {
	display: flex;
	width: 100%;

	padding: 0;
}

li {
	width: 100%;
	list-style-type: none!important;
	background-color: #d3d3d3;
	border: 1px solid white;
	padding: 2% 3%;
}

#li-selected {
	background-color: #008080;
	color: white;
}

.flex {
	display: flex;
}

.required {
	width: 2em;
	background-color: darkred;
	color:white;
	padding: 0 1%;
	margin-left: auto;
}

p {
	margin:0;
}

textarea {
	width: 70%;
	height: 5em;
}

input, select, textarea {
	margin: 1% 2%;
	padding: 1%;
}

select {
	width: 13em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	width: 35%;
	text-align: left;
	border: 1px solid gray;
	padding : 1% 1.5%;
	background-color: lightblue;
}

td {
	border: 1px solid gray;
	padding : 1% 1.5%;
}

small {
	margin: 0 2%;
}


.center {
	text-align:center;
}

.left  {
	text-align:left;
}

#personal-info {
	padding : 2%;
	height : 5em;
	overflow: scroll;
	border: 1px solid gray;
}

.doui_div {
	margin: 3% auto;
}

button {
	text-align:center;
	padding: 2%;
	margin : 2% 0;
	font-size: 18px;
	background-color: orangered;
	color: white;
}

footer {
	font-size: 14px;
}

.company-info {
	margin: 0 20%;
}

.copyright {
	color : white;
	background-color: #191970;
}